

.faqs-section{
    margin: 20px auto 80px auto;
    padding:60px;
    background-image: url('../../../../../public/images/purty-wood.png');
}

.faq-panel{
    box-shadow: none;
    margin-bottom:15px;
    p{
        padding:20px 0px;
    }
}

.faq-header{
    background-color: #f0f0f0!important;
}

.faq-accordion{
    padding-top: 60px;
}



@media only screen and (max-width: 768px) {

.faqs-section{
    margin: 0;
    padding:20px 10px;
}

}