

.faqs-section{
    margin: 20px auto 80px auto;
    padding:60px;
    background-image: url('https://res.cloudinary.com/dmcobg5ev/image/upload/v1744404374/faqban_phwst6.jpg');
}

.faq-panel{
    box-shadow: none;
    margin-bottom:15px;
    p{
        padding:20px 0px;
    }
}

.faq-header{
    background-color: #f0f0f0!important;
}

.faq-accordion{
    padding-top: 60px;
}
