<mat-toolbar class="sticky-bar">
    <button (click)="drawer.toggle()" mat-icon-button class="example-icon"
        aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>MG Clinic</span>
    <span class="example-spacer"></span>
    <button mat-icon-button  class="example-icon favorite-icon" (click)="logout()" aria-label="Logout">
        <mat-icon>logout</mat-icon>
    </button>

</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <mat-list role="list">
            <mat-list-item role="listitem" >
                <a routerLink="/admin-panel" routerLinkActive="active-link">
                    Dashboard
                </a>
            </mat-list-item>
            <mat-list-item role="listitem" >
                <a routerLink="/admin-panel/faqs" routerLinkActive="active-link" >
                    FAQs
                </a>
            </mat-list-item>
            <mat-list-item role="listitem" >
                <a routerLink="/admin-panel/appointments" routerLinkActive="active-link" >
                    Appointments
                </a>
            </mat-list-item>
            <mat-list-item role="listitem" >
                <a routerLink="/admin-panel/enquiries" routerLinkActive="active-link" >
                    Enquiries
                </a>
            </mat-list-item>
            <mat-list-item role="listitem" >
                <a routerLink="/admin-panel/testimonials" routerLinkActive="active-link" >
                    Testimonials
                </a>
            </mat-list-item>
            <mat-list-item role="listitem" >
                <a routerLink="/admin-panel/slider" routerLinkActive="active-link" >
                    Slider
                </a>
            </mat-list-item>
        </mat-list>
    </mat-drawer>
    <div class="example-sidenav-content" (click)="drawer.close()">
        <router-outlet></router-outlet>
    </div>
</mat-drawer-container>