<!-- <section 
  class="hero d-flex flex-column align-items-center justify-content-center text-center p-5">
  <div class="hero-content">
    <h1 class="display-5">Welcome to Our Clinic</h1>
    <p class="lead">Quality Healthcare for You and Your Family</p>
    <button mat-raised-button color="primary" (click)="bookAppointment()">Book Appointment</button>
  </div>
</section> -->



<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://res.cloudinary.com/dmcobg5ev/image/upload/v1746513870/hero_1_a9btts.jpg" class="d-block w-100" alt="slide1">
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/dmcobg5ev/image/upload/v1746513887/hero_2_afujjb.jpg" class="d-block w-100" alt="slide2">
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/dmcobg5ev/image/upload/v1746513888/hero_3_slqar4.jpg" class="d-block w-100" alt="slide3">
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/dmcobg5ev/image/upload/v1746513888/hero_4_slsdlq.jpg" class="d-block w-100" alt="slide4">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
