<app-header [currentBreadcrumb]="'procedure'"></app-header>

<section 
  class="hero secondary-bg d-flex flex-column align-items-center justify-content-center text-center">
  <div class="img-fluid hero-content">
   <img src="https://res.cloudinary.com/dmcobg5ev/image/upload/v1744230666/slidban2_cfw8fz.jpg" class="img-fluid" alt="banner">  
  </div>
</section>


<div class="procedure secondary-bg py-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <section>
                    <div class="row">
                        <h2 class="mb-3 primary-bg py-1 px-2">
                            Aesthetic Dermatology Procedures at MG Clinic
                        </h2>
                        <!-- Content Section -->
                        <div class="col-md-12">
                            <p class="text-muted">
                                At MG Clinic, Dr. Rohal Chandrakar offers a range of advanced aesthetic dermatology
                                procedures designed to enhance the appearance and health of your skin. Our treatments
                                are personalized to meet the unique needs of each patient, with a focus on non-invasive
                                methods that deliver natural-looking, long-lasting results.
                            </p>

                        </div>
                        <!-- Image Section -->

                    </div>
                </section>
                <section>
                    <div class="row py-5">
                        <h2 class="mb-3 primary-bg py-1 px-2">
                            Chemical Peels
                        </h2>
                        <!-- Content Section -->
                        <div class="col-md-9">
                            <p class="text-muted">
                                Chemical peels are a non-surgical treatment used to improve the skin’s appearance by
                                exfoliating the outer layers. Dr. Chandrakar uses customized chemical solutions to treat
                                a range of skin concerns, including acne, pigmentation, fine lines, and sun damage.

                                How It Works: A solution is applied to the skin that removes dead skin cells, promoting
                                the regeneration of healthier, smoother skin.

                                Benefits: Reduces fine lines, smooths skin texture, and improves skin tone and clarity.
                            </p>

                        </div>
                        <!-- Image Section -->

                        <div class="col-md-3 text-end">
                            <!-- <img src="images/hair/telogen.jpg" alt="Telogen Effluvium Treatment" 
                                class="img-fluid rounded shadow-sm mt-5 mb-4" />-->
                        </div>

                    </div>
                </section>
                <section>
                    <div class="row py-5">
                        <h2 class="mb-3 primary-bg py-1 px-2">
                            PRP (Platelet-Rich Plasma) Therapy
                        </h2>
                        <!-- Content Section -->
                        <div class="col-md-9">
                            <p class="text-muted">
                                PRP therapy uses your own blood to enhance skin rejuvenation, reduce hair loss, and
                                improve the overall appearance of your skin. Dr. Chandrakar carefully injects
                                platelet-rich plasma into targeted areas to stimulate collagen production and accelerate
                                healing.

                                How It Works: Blood is drawn from the patient, processed to concentrate platelets, and
                                then re-injected into the skin to promote healing and rejuvenation.

                                Benefits: Improves skin texture, reduces wrinkles, and stimulates hair growth for those
                                with hair loss.
                            </p>

                        </div>
                        <!-- Image Section -->

                        <div class="col-md-3 text-end">
                            <!-- <img src="images/hair/telogen.jpg" alt="Telogen Effluvium Treatment" 
                                class="img-fluid rounded shadow-sm mt-5 mb-4" />-->
                        </div>

                    </div>
                </section>
                <section>
                    <div class="row py-5">
                        <h2 class="mb-3 primary-bg py-1 px-2">
                            Scar Revision
                        </h2>
                        <!-- Content Section -->
                        <div class="col-md-9">
                            <p class="text-muted">
                                Scar revision is designed to improve the appearance of scars caused by acne, surgery, or
                                injury. Dr. Chandrakar uses a variety of techniques to minimize scar visibility and
                                promote smoother skin.

                                How It Works: Depending on the type and location of the scar, Dr. Chandrakar may use
                                laser therapy, microdermabrasion, or even surgical excision to reduce scar tissue.

                                Benefits: Softens the appearance of scars, improves skin texture, and promotes healing.
                            </p>

                        </div>
                        <!-- Image Section -->

                        <div class="col-md-3 text-end">
                            <!-- <img src="images/hair/telogen.jpg" alt="Telogen Effluvium Treatment" 
                                class="img-fluid rounded shadow-sm mt-5 mb-4" />-->
                        </div>

                    </div>
                </section>
                <section>
                    <div class="row py-5">
                        <h2 class="mb-3 primary-bg py-1 px-2">
                            Microdermabrasion
                        </h2>
                        <!-- Content Section -->
                        <div class="col-md-9">
                            <p class="text-muted">
                                Microdermabrasion is a non-invasive procedure that exfoliates the outer layer of dead
                                skin cells to reveal smoother, healthier skin. It is an effective treatment for acne
                                scars, age spots, and fine lines.

                                How It Works: Tiny crystals are sprayed on the skin to gently exfoliate, followed by
                                suction to remove the exfoliated cells.

                                Benefits: Smoother skin, improved texture, and enhanced skin tone with minimal downtime.

                            </p>

                        </div>
                        <!-- Image Section -->

                        <div class="col-md-3 text-end">
                            <!-- <img src="images/hair/telogen.jpg" alt="Telogen Effluvium Treatment" 
                                class="img-fluid rounded shadow-sm mt-5 mb-4" />-->
                        </div>

                    </div>
                </section>
                <section>
                    <div class="row py-5">
                        <h2 class="mb-3 primary-bg py-1 px-2">
                            Xanthelasma Removal
                        </h2>
                        <!-- Content Section -->
                        <div class="col-md-9">
                            <p class="text-muted">
                                Xanthelasma refers to the yellowish fatty deposits that appear on or around the eyelids.
                                Dr. Chandrakar uses advanced methods such as laser treatment or excision to remove these
                                deposits safely.

                                How It Works: Laser or minor surgical procedures are used to precisely remove the
                                xanthelasma, restoring a clearer, smoother eyelid area.

                                Benefits: Removes unsightly yellowish spots, providing a more aesthetically pleasing
                                eyelid appearance.

                            </p>

                        </div>
                        <!-- Image Section -->

                        <div class="col-md-3 text-end">
                            <!-- <img src="images/hair/telogen.jpg" alt="Telogen Effluvium Treatment" 
                                class="img-fluid rounded shadow-sm mt-5 mb-4" />-->
                        </div>

                    </div>
                </section>
                <section>
                    <div class="row py-5">
                        <h2 class="mb-3 primary-bg py-1 px-2">
                            Skin Biopsy
                        </h2>
                        <!-- Content Section -->
                        <div class="col-md-9">
                            <p class="text-muted">
                                A skin biopsy is a diagnostic procedure used to examine suspicious moles, growths, or
                                skin conditions. Dr. Chandrakar removes a small sample of skin tissue to test for
                                conditions like skin cancer or other dermatological concerns.

                            </p>
                            <p>
                                How It Works: A small portion of the skin is removed under local anesthesia and sent to
                                a laboratory for testing.
                            </p>
                            <p>
                                Benefits: Accurate diagnosis of skin abnormalities, providing valuable information for
                                treatment.
                            </p>

                        </div>
                        <!-- Image Section -->

                        <div class="col-md-3 text-end">
                            <!-- <img src="images/hair/telogen.jpg" alt="Telogen Effluvium Treatment" 
                                class="img-fluid rounded shadow-sm mt-5 mb-4" />-->
                        </div>

                    </div>
                </section>
                <section>
                    <div class="row py-5">
                        <h2 class="mb-3 primary-bg py-1 px-2">
                            Mole & Cyst Removal
                        </h2>
                        <!-- Content Section -->
                        <div class="col-md-9">
                            <p class="text-muted">
                                Moles and cysts can be bothersome or even a cause for concern. Dr. Chandrakar offers
                                safe removal techniques, including laser and surgical excision, to remove these growths
                                with minimal scarring.

                            </p>
                            <p>
                                How It Works: Moles and cysts are excised through minor surgical procedures, ensuring
                                minimal disruption to the surrounding skin.
                            </p>
                            <p>
                                Benefits: Removes unwanted growths, improving skin appearance and reducing potential
                                health risks.
                            </p>

                        </div>
                        <!-- Image Section -->

                        <div class="col-md-3 text-end">
                            <!-- <img src="images/hair/telogen.jpg" alt="Telogen Effluvium Treatment" 
                                class="img-fluid rounded shadow-sm mt-5 mb-4" />-->
                        </div>

                    </div>
                </section>
                <section>
                    <div class="row py-5">
                        <h2 class="mb-3 primary-bg py-1 px-2">
                            Botox Injections
                        </h2>
                        <!-- Content Section -->
                        <div class="col-md-9">
                            <p class="text-muted">
                                Botox is a popular injectable treatment that temporarily relaxes facial muscles,
                                smoothing out wrinkles and fine lines, especially around the forehead, eyes, and mouth.

                            </p>
                            <p>
                                How It Works: Botox injections block nerve signals, preventing muscles from contracting,
                                which helps reduce the appearance of wrinkles.
                            </p>
                            <p>
                                Benefits: Non-invasive, quick results, and minimal recovery time, providing a refreshed
                                and youthful appearance.
                            </p>

                        </div>
                        <!-- Image Section -->

                        <div class="col-md-3 text-end">
                            <!-- <img src="images/hair/telogen.jpg" alt="Telogen Effluvium Treatment" 
                                class="img-fluid rounded shadow-sm mt-5 mb-4" />-->
                        </div>

                    </div>
                </section>
                <section>
                    <div class="row py-5">
                        <h2 class="mb-3 primary-bg py-1 px-2">
                            Thread Lift for Skin Tightening
                        </h2>
                        <!-- Content Section -->
                        <div class="col-md-9">
                            <p class="text-muted">Thread lifts are a non-surgical procedure designed to lift and tighten
                                sagging skin on the face and neck. Using special threads, Dr. Chandrakar can lift and
                                support the skin for a more youthful contour.
                            </p>
                            <p class="text-muted">
                                How It Works: Fine threads are inserted under the skin, which are then pulled to lift
                                and tighten the skin. The threads also stimulate collagen production, providing a
                                natural, long-lasting result.
                            </p>
                            <p class="text-muted">
                                Benefits: Non-surgical, minimal downtime, and effective for lifting sagging skin without
                                the need for facelifts.</p>

                        </div>
                        <!-- Image Section -->

                        <div class="col-md-3 text-end">
                            <!-- <img src="images/hair/telogen.jpg" alt="Telogen Effluvium Treatment" 
                                class="img-fluid rounded shadow-sm mt-5 mb-4" />-->
                        </div>

                    </div>
                </section>
                <section>
                    <div class="row py-5">
                        <h2 class="mb-3 primary-bg py-1 px-2">
                            HIFU (High-Intensity Focused Ultrasound) Skin Tightening
                        </h2>
                        <!-- Content Section -->
                        <div class="col-md-9">
                            <p class="text-muted">
                                HIFU is a cutting-edge, non-invasive treatment that uses focused ultrasound energy to stimulate deep layers of the skin, promoting collagen production and tightening loose or sagging skin.

                            </p>
                            <p>
                                How It Works: High-frequency sound waves are directed at specific layers of the skin to stimulate collagen production and tighten the skin.
                            </p>
                            <p>
                                Benefits: Non-invasive, no downtime, and results in firmer, more youthful-looking skin over time.
                            <p>


                        </div>
                        <!-- Image Section -->

                        <div class="col-md-3 text-end">
                            <!-- <img src="images/hair/telogen.jpg" alt="Telogen Effluvium Treatment" 
                                class="img-fluid rounded shadow-sm mt-5 mb-4" />-->
                        </div>

                    </div>
                </section>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-10 mx-auto">
                <mat-card class="rounded text-center" >
                    <mat-card-content>
                      <!-- <mat-icon class="custom-icon">health_and_safety</mat-icon> -->
                      <h5>Why Choose MG Clinic for Aesthetic Procedures?</h5>
                      <p>
                        At MG Clinic, Dr. Rohal Chandrakar uses state-of-the-art technology and the latest techniques to ensure the best outcomes for all aesthetic procedures. Whether you're looking to rejuvenate your skin, address scars, or tighten and lift sagging areas, we provide personalized treatment plans to achieve the results you desire in a safe and comfortable environment.
                      </p>
                      <button mat-raised-button color="primary" type="submit" (click)="gotoAppointment()">Schedule Your Consultation Today!</button>
                    </mat-card-content>
                  </mat-card>
            </div>
        </div>
    </div>
</div>