

  <div class="text-center mt-4">
    <h1 class="display-4">Welcome to the Dashboard of MG Clinic</h1>
  </div>


  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 mb-4" *ngFor="let row of data">
        <div class="card shadow-sm" (click)="goto(row.url)" >
          <div class="card-body d-flex align-items-center">
            <h2>
               {{row.name}}<br/>
              <i class="bi bi-arrow-right"></i>
            </h2>
            <div class="ms-auto">
              <h2>{{row.count}}</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>