<div class="primary-bg footer_pattern">    
<div class="container">
  <footer class="py-5 footer-style" >
    <div class="row">
      <div class="col-6 col-md-2 mb-3">
        <h5>Treatments</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a routerLink="/skin-treatment" class="nav-link p-0 text-muted">Skin Treatment</a></li>
          <li class="nav-item mb-2"><a routerLink="/hair-treatment" class="nav-link p-0 text-muted">Hair Treatment</a></li>
          <li class="nav-item mb-2"><a routerLink="/nail-treatment" class="nav-link p-0 text-muted">Nail Treatment</a></li>
          <li class="nav-item mb-2"><a routerLink="/laser-treatment" class="nav-link p-0 text-muted">Laser Treatment</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h5>Pages</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a routerLink="/" class="nav-link p-0 text-muted">Home</a></li>
          <li class="nav-item mb-2"><a routerLink="/about" class="nav-link p-0 text-muted">About</a></li>
          <li class="nav-item mb-2"><a routerLink="/contact" class="nav-link p-0 text-muted">Contact</a></li>
          <li class="nav-item mb-2"><a routerLink="/procedures" class="nav-link p-0 text-muted">Procedure</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h5>Important Links</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a routerLink="/privacy-policy" routerLinkActive="active-link" class="nav-link p-0 text-muted">
              Privacy Policy
            </a>
          </li>
          <li class="nav-item mb-2">
            <a routerLink="/terms-condition" routerLinkActive="active-link" class="nav-link p-0 text-muted">
              Terms &amp; Conditions
            </a>
          </li>
        </ul>
      </div>

      <div class="col-md-5 offset-md-1 mb-3">
        <form>
          <h5>Subscribe to our newsletter</h5>
          <p>Monthly digest of what's new and exciting from us.</p>
          <div class="d-flex flex-column flex-sm-row w-100 gap-2">
            <label for="newsletter1" class="visually-hidden">Email address</label>
            <input id="newsletter1" type="text" class="form-control" #emailInput placeholder="Email address">
            <button class="btn btn-primary primary-bg" type="button" (click)="subscribed(emailInput.value)">Subscribe</button>
          </div>
        </form>
      </div>
    </div>

    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
      <p>&copy; 2022 Company, Inc. All rights reserved.</p>
      <ul class="list-unstyled d-flex">
        <li class="ms-3">
          <a class="link-dark" href="#"><i class="bi bi-twitter-x fs-4"></i></a>
        </li>
        <li class="ms-3">
          <a class="link-dark" href="#"><i class="bi bi-instagram fs-4"></i></a>
        </li>
        <li class="ms-3">
          <a class="link-dark" href="#"><i class="bi bi-facebook fs-4"></i></a>
        </li>
      </ul>
    </div>
  </footer>
</div>

</div>