<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://res.cloudinary.com/dmcobg5ev/image/upload/v1745400964/hair_or22iz.jpg" class="d-block w-100 img-fluid" alt="hair treatment">
      </div>
      <div class="carousel-item">
        <img src="https://res.cloudinary.com/dmcobg5ev/image/upload/v1745400964/nail_g0mwby.jpg" class="d-block w-100 img-fluid" alt="nail treatment">
      </div>
      <div class="carousel-item">
        <img src="https://res.cloudinary.com/dmcobg5ev/image/upload/v1745400964/skin_rgzr69.jpg" class="d-block w-100 img-fluid" alt="skin treatment">
      </div>
      <div class="carousel-item">
        <img src="https://res.cloudinary.com/dmcobg5ev/image/upload/v1745400964/skin2_jfcfma.jpg" class="d-block w-100 img-fluid" alt="skin treatment">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>